CompileFlags:
  CompilationDatabase: build/windows-x64-makefile-debug
  Add:
    - -std=c++17
    - -I.
    - -IC:/VulkanSDK/1.4.350.0/Include
---
If:
  PathMatch: .*\.h$
CompileFlags:
  Add:
    - -xc++-header
---
If:
  PathMatch: .*\.hpp$
CompileFlags:
  Add:
    - -xc++-header
---
If:
  PathMatch: .*\.cpp$
CompileFlags:
  Add:
    - -xc++
