CompileFlags:
  CompilationDatabase: Ancestors
  Add:
    - -std=c++17
    - -I.
---
If:
  PathMatch: .*\.h$
CompileFlags:
  Add:
    - -xc++-header
---
If:
  PathMatch: .*\.hpp$
CompileFlags:
  Add:
    - -xc++-header
---
If:
  PathMatch: .*\.cpp$
CompileFlags:
  Add:
    - -xc++
