CompileFlags:
  CompilationDatabase: build/windows-x64-makefile-debug
  Add:
    - -std=c++17
    - -I.
    - -IC:/VulkanSDK/1.4.350.0/Include
    - -I/home/ahmadzanisy/GNUstep/Library/Headers
    - -DGNUSTEP
    - -DGNUSTEP_BASE_LIBRARY=1
    - -DGNU_RUNTIME=1
    - -D_NATIVE_OBJC_EXCEPTIONS
    - -fobjc-exceptions
    - -fconstant-string-class=NSConstantString
---
If:
  PathMatch: .*\.h$
CompileFlags:
  Add:
    - -xobjective-c++-header
---
If:
  PathMatch: .*\.hpp$
CompileFlags:
  Add:
    - -xc++-header
---
If:
  PathMatch: .*\.cpp$
CompileFlags:
  Add:
    - -xc++
---
If:
  PathMatch: .*\.mm$
CompileFlags:
  Add:
    - -xobjective-c++
---
If:
  PathMatch: .*\.m$
CompileFlags:
  Add:
    - -xobjective-c
